export const BackendUrl = `http://your server ip address:5000`; //change this
export const AuthAPI = `${BackendUrl}/api/v1/auth`;
export const UserAPI = `${BackendUrl}/api/v1/user`;
export const FoodAPI = `${BackendUrl}/api/v1/food`;
export const TagAPI = `${BackendUrl}/api/v1/tag`;
export const ImgAPI = `${BackendUrl}/api/v1/img`;
export const RoomAPI = `${BackendUrl}/api/v1/room`;
